nodered-data/flows.json
[{"id":"117f088e.84eb97","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4dd0f326.b84a24","type":"influxdb","hostname":"127.0.0.1","port":"12447","protocol":"http","database":"firstdb","name":"influx host","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"cd5463d1.62eb78","type":"influxdb","hostname":"influx","port":"8086","protocol":"http","database":"firstdb","name":"influx docker","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d4ccd3f.22375b","type":"inject","z":"117f088e.84eb97","name":"mymath","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["20e61aab.32847e"]]},{"id":"e22b91f3.eb5b38","type":"function","z":"117f088e.84eb97","name":"sine + rand","func":"function randn_bm() {\n    let min=-1, max=1\n    let u = 0, v = 0;\n    while(u === 0) u = Math.random(); //Converting [0,1) to (0,1)\n    while(v === 0) v = Math.random();\n    let num = Math.sqrt( -2.0 * Math.log( u ) ) * Math.cos( 2.0 * Math.PI * v );\n\n    num = num / 10.0 + 0.5; // Translate to 0 -> 1\n    if (num > 1 || num < 0) num = randn_bm(min, max, skew); // resample between 0 and 1 if out of range\n    //num = Math.pow(num, skew); // Skew\n    num *= max - min; // Stretch to fill range\n    num += min; // offset to min\n    return num;\n}\n\nvar d = Math.sin(Math.PI/2);\nvar s = 0.1\nvar noise = randn_bm(s) * 0.5;\nvar freq = 1/60;\nvar t = msg.payload;\nmsg.payload = Math.sin(2*Math.PI * freq * t ) + noise;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":240,"wires":[["93154639.c76a3","2d2c2560.b11382"]]},{"id":"93154639.c76a3","type":"debug","z":"117f088e.84eb97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":120,"wires":[]},{"id":"20e61aab.32847e","type":"function","z":"117f088e.84eb97","name":"ts to sec","func":"var sec = new Date(msg.payload).getSeconds();\nmsg.payload = sec;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":60,"wires":[["e22b91f3.eb5b38"]]},{"id":"2d2c2560.b11382","type":"influxdb out","z":"117f088e.84eb97","influxdb":"cd5463d1.62eb78","name":"influx sine","measurement":"sine","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":560,"y":220,"wires":[]}]
